SECRET_KEY=change-me-to-a-random-string
FIELD_ENCRYPTION_KEY=XrmQ9n3-P4dg9zkuVrHxMrZA2LpiYFu8myHKSzfVbXI=
TENANTS_API_KEY=change-me-long-random-key
ACCESS_TOKEN_EXPIRE_MINUTES=480
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_EMAIL=admin@conecta.local
